// JUST SOME LAYOUT

header,
article,
aside {
  margin-bottom: 2rem !important;
  border: 2px solid #888;
}

header {
  padding: 1em;
}

article {
  padding: 2em;
}

#content aside {
  padding: 2em;
}

footer {
  padding: 1em;
  border: 2px solid #888;
}

.browserupgrade {
  padding: 0.2em 0;
  margin: 0.2em 0;
  color: #000;
  background: #ccc;
}

// INSERT YOUR MAGIC HERE :)
